<div class="container w-100">
   
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center "> Sejam bem vides! </h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace font-italic">
                Este é meu blog pessoal, na qual irei alimentar com dicas voltadas para mulheres na área de TI.
  <BR>
                Ok, mas como você entrou tecnologia? <BR>
                Sempre fui curiosa e a programação me proporciona um leque
                de infinidades tecnológicas que estão sempre vivas e se
                atualizando. Quando eu era adolescente, enxerguei em meus
                irmãos mais velhos e primos uma referência em TI, ambos são
                formados em infraestrutura. Ao vê los me senti desafiada em
                ser a diferença, ser mulher na área de TI, ser a 4 mulher em
                uma sala de faculdade de análise e desenvolvimento de
                sistemas com 27 homens e sim romper paradigmas! A
                tecnologia veio para gerar grandes mudanças e acessibilidade
                ao mundo e eu me sinto completamente atraída em fazer parte
                disso.
            </p>
        </div>
    </div>
</div>

<div class="parallax"></div>

<div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
    </div>
</div>

