<div class="container w-100">
   
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center"> Sejam bem vindes ao meu blog! </h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur consequatur excepturi iste sit atque dolore asperiores magni, illo culpa maxime at, commodi quam optio modi harum aperiam minima veniam autem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus praesentium deleniti nisi animi non temporibus quis aperiam in nesciunt, voluptatibus minima alias minus ipsa tenetur ad beatae optio sint sed.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas neque magni molestiae provident unde ad in suscipit quaerat! Laboriosam minima animi illum fugit totam iste exercitationem beatae, neque eius ex?
            </p>
        </div>
    </div>
</div>

<div class="parallax"></div>

<div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
    </div>
</div>

